 

 header{

  background-image: url(cafe\ 14.png);
  text-align: center;
  margin-top: 10px;
  width: auto;
  height: 300px;
  font-size: 60px ;
  color: whitesmoke;
  font-style: italic;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 30px black; 
  margin-bottom: 150px;


 }

 h1{
 padding-top: 50px;
 text-shadow: 8px 8px 10px black;

 }

 body{

   background-color: #806046e8;

 }

 .cafe-9{

   width: 400px;
   height: 400px;
   border-radius: 30px 30px 30px 30px ;
   justify-content: flex-end ;
   object-fit: cover;
   margin-left: 60%;
   box-shadow: 6px 6px 10px black;
    





 }


 .images{
  width: 200px ;
  height: 200px;



 }

 #portarftar{

   text-align: center;
   font-size: 60px;
    text-shadow: 8px 8px 10px black;   
   color: whitesmoke;
   margin-top: 100px;




 }

.box1{


 border: solid 2px ;
 border-radius: 7px 7px 7px 7px;
 width: 200px;
 height: 250px;
 text-align: center;
 background-color: #6a4f39;
 font-size: 30px;
 box-shadow: 3px 3px 10px black;
 margin-left: 10%;
    


}




.box2{


 border: solid 2px ;
 border-radius: 7px 7px 7px 7px;
 width: 200px;
 height: 250px;
 text-align: center;
 background-color: #6a4f39;
 font-size: 30px;
 box-shadow: 3px 3px 10px black;
 margin-left: 30%;
 margin-top: -16.5%;
 
}





.box3{


 border: solid 2px ;
 border-radius: 7px 7px 7px 7px;
 width: 200px;
 height: 250px;
 text-align: center;
 background-color: #6a4f39;
 font-size: 30px;
 box-shadow: 3px 3px 10px black;
 margin-left: 50%;
 margin-top: -16.5%;

}

.box4{


 border: solid 2px ;
 border-radius: 7px 7px 7px 7px;
 width: 200px;
 height: 250px;
 text-align: center;
 background-color: #6a4f39;
 font-size: 30px;
 box-shadow: 3px 3px 10px black;
 margin-left: 70%;
 margin-top: -16.5%;




}

 .box1 img{

     border-radius: 7px 7px 7px 7px ;

 }

 .box2 img{

     border-radius: 7px 7px 7px 7px ;

 }
 .box3 img{

     border-radius: 7px 7px 7px 7px ;

 }
 .box4 img{

     border-radius: 7px 7px 7px 7px ;

 }


 #bartarin{


     text-align: center;
   font-size: 60px;
    text-shadow: 8px 8px 10px black;   
   color: whitesmoke;
   padding-top: 30px;


 }

 #but1{


   width: 140px;
   height: 60px;
   background-color: #4c3929;
   font-size: 30px;
   text-align: center;
   border: solid 2px #4c3929;
   border-radius: 10px 10px 10px 10px;
   color: whitesmoke;
   margin-left: 15%;
   margin-top: 40px;
   box-shadow: 5px 5px 12px black;
   

 }

  #but2{


   width: 140px;
   height: 60px;
   background-color: #4c3929;
   font-size: 30px;
   text-align: center;
   border: solid 2px #4c3929;
   border-radius: 10px 10px 10px 10px;
   color: whitesmoke;
   margin-left: 2%;
   box-shadow: 5px 5px 12px black;
   

 }

 #tozihat{

  font-size: 30px;
  color:whitesmoke ;
  text-align: right;
  width: 700px;
  height: 300px;
  border-radius: 20px 20px 20px 20px;
  margin-top: -350px;
  margin-left: 10%;
  text-shadow: 6px 6px 12px black;
  border-radius: 10px 10px 10px 10px;
  overflow: scroll;
  
  



 }

 footer{


   width: auto;
   height: 300px;
   background-color: #4a3728;
   margin-top: 200px;
   box-shadow: 3px 3px 8px black;
  




 }
 .adress{
   text-align: right;
   font-size: 40px;

   padding-top: 30px;
   padding-right: 10px;
   color: whitesmoke;
 }

@media(max-width:600px){
 body{

  width: 600px;
  height: auto;

 }
 
 header{

  width: auto;
  height: 19%;

 }

 h1{
  
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7%;

 }


 .cafe-9{

  width: 23%;
  height: 23%;



 }


 #portarftar{

   font-size: 2.5rem;
   text-align: center;



 }

 
  .box1  {


   width: 20%;
   height: 20%;
   font-size: 1.22rem;

 




  }
   
  
  .box2  {


   width: 20%;
   height: 20%;
   font-size: 1.22rem;
   margin-left: 60%;
   margin-top: -11rem;

 




  }

  .box3  {


   width: 20%;
   height: 20%;
   font-size: 1.22rem;
   margin-left: 10%;
   margin-top: 6%;

 




  }
      
  
  .box4  {


   width: 20%;
   height: 20%;
   font-size: 1.22rem;
     margin-left: 60%;
   margin-top: -11rem;

 




  }
  .sese{

  flex: initial;
  flex-wrap: wrap;


  }
   
   #tozihat{


   font-size: 1rem;
   width: 40%;
   height: 20%;
   margin-top: -30%;
   margin-left: 16%;
   


   }

  .images{


   width: 100%;
   height: 80%;


  }
 #bartarin{
  
     font-size: 2.5rem;
   text-align: center;




 }

 #but1 , #but2{



   width: 15%;
   height: 5%;
   font-size: 1rem;
   margin-top: 10vh;






 }


 footer{

 width: auto;
 height: 20%;



 }
 .adress{




  font-size: 1.5rem;
 }


  
  

}
